version: "3.9"

services:
  postgres:
    image: postgres:17
    container_name: club_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: club_management
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
